html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: urw gothic l, sans-serif;
} 

body {
  margin: 0;
  font-family: urw gothic l, sans-serif;
}

.avatar {
  width: 50px;
  height: 52px;
  border-radius: 40%;
  padding-right: 0;
  padding-left: 15px;
}


.navbar-logo {
  padding-top: 15px;
  margin-bottom: 10px;
  display: inline;
  position: absolute;
  top: 10px;
}

.websitename {
  font-size: 1.15em;
  text-align: left;
  margin-left: 30px;
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  color: whi;
}

button:hover {
  text-decoration: blink;
}

button {
  text-decoration: none;
  color: white;
  border: none;
  background: transparent;
  padding-right: 15px;
}

.islandbutton {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: solid 1px #044F67;
  border-radius: 7%;
  background: #044F67;
  padding: 5px;
  margin-left: 85px;
}

.foodbutton {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: solid 1px #044F67;
  border-radius: 7%;
  background: #044F67;
  padding: 5px;
  margin-left: 85px;
}

.Nightlifebutton {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: solid 1px #044F67;
  border-radius: 7%;
  background: #044F67;
  padding: 5px;
  margin-left: 85px;
}

button:hover {
  background-color: white; 
  color: #044F67;
}


img {
  border-radius: 5px 5px 5px 5px;
}

.title, .text{
  font-family: urw gothic l, sans-serif;
  font-size: 1.1em;
  color: #044F67;
}
 
.title{
  margin-bottom: 10px;
  color: #044F67;
}
 
.text{
  margin-top: 5px;
}
.card {
  box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  margin-right: 50px;
  margin: 0px;
  margin-right: auto;
  margin-left: auto;
}
 
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.description {
  padding: 2px 16px;
}
 
.card img{
  width:100%;
}

.navbar-right .home {
  color: white;
  right: 40px;
  position: relative;
  bottom: -17px;
  right: 500px;
}

.navbar-right .contact {
  color: white;
  right: 40px;
  position: relative;
  bottom: -17px;
  right: 450px;
}

.navbar-right .about {
  color: white;
  right: 50px;
  position: relative;
  bottom: -17px;
  right: 400px;
}

.navbar {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px 10px 0 10px;
  color: white;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-content: flex-end;
}

.main {
  width: 100%;
  overflow: hidden;
}


.main-image {
  width: 20%;
  overflow: hidden;
  margin-left: 15px;

}

.text-block {
  width: 60%;
  float: right;
  font-size: 1.1em;
  color: #044F67;
  margin-right: 240px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
} 

.footer {
  background: #43C6AC;
  background: -webkit-linear-gradient(to left, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}

.author {
  text-align: center;
  font-size: 1.1em;
}

.icons {
  display: flex;
  justify-content: center;
}


.main-title {
  font-size: 25px;
  text-align: center;
  color: #044F67;
}







